border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

*
  font-family 'Open Sans', sans-serif

body
  color #222

#html
  background #ECECEC url('/images/background.png')
  margin-top 5px

#html-overlay
  background transparent url('/images/border-top.png') repeat-x 0 0
  height  5px
  position absolute
  top 0
  width 100%

html
  margin 0

.container
  width 950px

#main
  background #F8F8F8
  box-shadow(0 0 5px #888)
  margin 0 5px

#menu
  overflow hidden
  padding 0 5px
  ul
    margin 0
    padding 0
    list-style-type none
  li
    a
      color #666
      float left
      height 55px
      line-height 55px
      padding 0 20px
      &.active,
      &:active,
      &:hover
        box-shadow(0 0 5px #888)
        background-color #F8F8F8

#menu a.home
  background #F8F8F8 url('/images/logo-mini.png') no-repeat 50% 50%
  box-shadow(0 0 5px #888)
  background-color #F8F8F8
  text-indent -9999px
  width 55px

.col-inner
  padding 20px

#phonescript
.hangup
.hideScript
  display none

h1
h2
h3
h4
h5
h6
  font-family 'Open Sans', sans-serif
  color #222

.rep
  float left

  .photo
    width 80px
    float left
    margin 5px
    position relative

  .title
  .email
  .phone
    font-size 12px

  .info
    margin-top 5px
    margin-right 5px
    margin-bottom 5px
    margin-left 75px

    h3
      margin 0px
    ul
      margin 0px
      list-style none
      margin-left 0
      padding-left 0

.center
  width 550px
  margin 0px auto
  text-align center

.container .center
  width 550px

.flash.error
  background-color: #ff8888;

.flash.info
  background-color: #88ff88;
