border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

*
  font-family 'Open Sans', sans-serif

body
  background #ECECEC url('/images/background.png')
  color #222
  padding-top 60px
  padding-bottom 40px

html
  margin 0

#main
  background #F8F8F8
  box-shadow(0 0 5px #888)

.col-inner
  padding 20px

#phonescript
.hangup
.hideScript
  display none

h1
h2
h3
h4
h5
h6
  font-family 'Open Sans', sans-serif

.widget-code
  width 400px

.rep
  float left

  .photo
    width 80px
    float left
    margin 5px
    position relative

  .title
  .email
  .phone
    font-size 12px

  .info
    margin-top 5px
    margin-right 5px
    margin-bottom 5px
    margin-left 75px

    h3
      margin 0px
    ul
      margin 0px
      list-style none
      margin-left 0
      padding-left 0

.center
  width 550px
  margin 0px auto
  text-align center

.container .center
  width 550px

iframe
   margin 0 10px 10px