extends layout

block content
  h1 The primary campaign page.

  p This is the primary campaign page.

  .center
    iframe(src='#{process.env.APP_URL}/campaign/#{campaignId}', width='300', height='700')
