extends layout

block title
  h1.title The primary campaign page.

block content

  p This is the primary campaign page.

  .center
    iframe(src='#{process.env.APP_URL}/campaign/#{campaignId}', width='300', height='700', frameborder='0')
