h1 #{campaign.title}
#representatives
#footer
  h3 Phone Script
  a(href='#', onclick='showScript(); return false;') Show
  = " / "
  a(href='#', onclick='hideScript(); return false;') Hide
  = " "
  | phone script
  #phonescript
    p #{campaign.script}
  #log
    h3 Event Log
