!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='robots', content='index')
    block moreStyles
    link(rel='stylesheet', href='//fonts.googleapis.com/css?Open+Sans')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/css/site.css')
    title= pageTitle
  body
    #html
      - var flashTypes = ['info', 'error']
      each flashType in flashTypes
        if flash[flashType]
          p.flash(class=flashType)
            = flash[flashType]

      .container

        #menu
          ul
            li
              a(href='/', title="Home", class="home") My2Cents
            li
              a(href='/dashboard', title="Dashboard", class="dashboard") Dashboard

        #main
          .col-inner
            block content

      script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js')
      script(src='/bootstrap/js/bootstrap.js')
      block moreScripts
    #html-overlay