!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='robots', content='index')
    title= title
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='/site.js')
    body
      .container!= body