!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='robots', content='index')
    block moreStyles
    link(rel='stylesheet', href='//fonts.googleapis.com/css?Open+Sans')
    link(rel='stylesheet', href='/site.css')
    title= pageTitle
  body
    - var flashTypes = ['info', 'error']
    each flashType in flashTypes
      if flash[flashType]
        p.flash(class=flashType)
          = flash[flashType]

    .container
      block content

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js')

    block moreScripts
