extends layout

block title
  h1.title Login

block content
  form(action='/login', method='post')
    p
      label(for='user_username') Username:
    p
      input(type='text', id='user_username', name='username')
    p
      label(for='user_password') Password:
    p
      input(type='password', id='user_password', name='password')
    p
      input.btn.btn-primary(type='submit')
    p Create a 
      a(href='/user/new', title="View login page") new user account.