extends layout

block title
  h1.title= pageTitle

block content
  if session.user
    h2 Campaigns
    if campaigns.length
      ul
        each campaign in campaigns
          li
            a(href="campaign/#{campaign.id}") #{campaign.title}
      a.btn.btn-primary(href='campaign/new') Create Campaign
  else
    h2 Login
    form(action='/login', method='post')!= partial('users/form', {locals: {user: user}})
    a(href='/user/new', title="View login page") Create an account
    .
