!!! xml
Response
  if altered
    Say Sorry, we could not complete the call.
  elseif armed
    Dial(callerId="#{callerID}")
      Number #{number}
  else
    Say This phone application is currently unavailable.
      | The request to call #{number} can not be fulfilled.
      | For help on this matter, please refer to the contact
      | information provided elsewhere on this web site.
      | Thank you! Good bye!
