extends campaign_layout

block content
  div.page-header
    h2.title #{campaign.title}
    p #{campaign.desc}
  #representatives
  #phonescript
    p #{campaign.script}
  if process.env.DEBUG === 'true'
    #log
      h3 Event Log
