!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='robots', content='index')
    block moreStyles
    link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/start/jquery-ui.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?Open+Sans')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/site.css')
    link(rel='stylesheet', href='/css/widget.css')
    title= pageTitle
  body#widget
    #main
      block content
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='//static.twilio.com/libs/twiliojs/1.0/twilio.min.js')
    script(type='text/javascript')
      var TwilioConfig = !{twilioConfigJson};
    script(src='/js/campaign.js')
    block moreScripts
