extends campaign_layout

block content
  div.widget-header
    .inner
      h2.title #{campaign.title}
      p #{campaign.desc}
  #representatives
    .inner
  #phonescript
    .inner
      p #{campaign.script}
      button.hangup.btn-danger
        span Hangup
  if process.env.DEBUG === 'true'
    #log
      h3 Event Log
  #footer
    .inner
      p Developed by Affinity Bridge