p
  label(for='user_username') Username:
p
  input(type='text', id='user_username', name='username', value=user.username)
p
  label(for='user_password') Password:
p
  input(type='password', id='user_password', name='password', value=user.password)
p
  input.btn.btn-primary(type='submit')
