p
  label(for='user_username') Username:
p
  input(type='text', id='user_username', name='user[username]', value=user.username)
p
  label(for='user_password') Password:
p
  input(type='password', id='user_password', name='user[password]', value=user.password)
p
  input(type='submit')
